@charset "UTF-8";
/*Reset Global*/
html {
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/*Variável*/
/*Consulta*/
body {
  font-size: 100%;
  color: #006096;
  background-color: #e5e5e5;
  transition: all 300ms ease-out;
}

p {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/*-----Form-------*/
/*Placeholder*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8E8EA9 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #8E8EA9 !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #8E8EA9 !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #8E8EA9 !important;
}

#header {
  margin: 0 auto;
  display: table;
  padding: 2rem 0;
}

#main {
  width: 90%;
  max-width: 552px;
  margin: 0 auto;
  display: table;
  background-color: #fff;
  border-radius: 10px;
  border: 0.5px solid #EAEAEF;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
}

.box.w100 {
  max-width: 500px;
}

.box {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  max-width: 258px;
  width: 90%;
  margin: 0 auto;
}
.box .link-pagamento {
  background: #FFFFFF;
  border: 0.5px solid #EAEAEF;
  box-shadow: 0px 1px 4px rgba(26, 26, 67, 0.1);
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #4A4A6A;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  margin: 0.5rem 0;
}
.box .link-pagamento:hover {
  background-color: #e5e5e5;
}
.box .link-continuar {
  background-color: #006096;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin: 0 auto;
  display: table;
  font-size: 14px;
  margin-top: 16px;
  border-radius: 4px;
  margin-top: 2rem;
  font-weight: 800;
}
.box .link-continuar:hover {
  background-color: #ca8e2b;
}
.box .box-border {
  border: 1px solid #006096;
  border-radius: 8px;
  padding: 0.5rem;
}

.tab {
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
}
.tab .icon {
  margin: 0 auto;
  display: table;
  border: 3px solid #ca9032;
  border-radius: 50%;
  width: 50px;
  height: 48px;
  padding: 1rem;
}
.tab p {
  font-size: 16px;
  line-height: 20px;
  color: #ca8e2b;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}
.tab p.color-primary {
  color: #006096;
  line-height: 23px;
}
.tab p.color-primary a {
  color: #006096;
}
.tab p.color-primary a:hover {
  color: #ca8e2b;
  text-decoration: underline;
}

.lnr-eye,
.lnr-eye-repetir {
  position: relative;
  top: -97px;
  left: 81%;
  cursor: pointer;
  background-color: #fff;
  padding: 2px;
}

.lnr-eye-repetir {
  top: -51px;
  left: 72%;
}

#regForm {
  max-width: 300px;
  margin: 0 auto;
  padding: 2rem 0;
  width: 90%;
}
#regForm input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  width: 100%;
  max-width: 270px;
  font-family: "Poppins", sans-serif;
  background: #fff;
  border: 1px solid #DCDCE4;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 4px 0px;
}
#regForm input:focus-visible {
  outline: 0;
  box-shadow: none;
}
#regForm input#dicas {
  display: inline-block;
  float: left;
  width: inherit;
}
#regForm label.checktext {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #32324D;
  margin-left: 0.3rem;
}
#regForm label {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #32324D;
  margin-top: 15px;
}
#regForm input.invalid {
  background-color: #ffdddd;
}
#regForm .tab {
  display: none;
  padding: 0;
}
#regForm button {
  background-color: #006096;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin: 0 auto;
  display: table;
  font-size: 14px;
  margin-top: 16px;
  border-radius: 4px;
  font-weight: 800;
}
#regForm button:hover {
  background-color: #ca8e2b;
}
#regForm #mensagemError {
  text-align: center;
  color: #f77171;
}
#regForm #prevBtn {
  background-color: #bbbbbb;
}
#regForm .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
#regForm .step.active {
  opacity: 1;
}
#regForm .step.finish {
  background-color: #04AA6D;
}

#regForm.formLogin {
  width: 90%;
  max-width: 440px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#regForm.formLogin h2 {
  font-size: 32px;
  color: #ca8e2b;
  font-family: "Poppins", sans-serif;
  margin: 0;
  margin-top: 2rem;
}
#regForm.formLogin p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #A5A5BA;
  margin: 0;
}
#regForm.formLogin input {
  max-width: 440px;
  font-family: "Poppins", sans-serif;
}
#regForm.formLogin label {
  width: 100%;
}
#regForm.formLogin .lnr-eye {
  top: -69px;
  left: 41%;
}
#regForm.formLogin .box-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
#regForm.formLogin .box-checkbox #logado {
  max-width: inherit;
  width: 17px;
}
#regForm.formLogin .box-checkbox .checktext {
  margin: 0;
  margin-left: 6px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #32324D;
}
#regForm.formLogin #login {
  background-color: #006096;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin: 0 auto;
  display: table;
  font-size: 14px;
  margin-top: 16px;
  border-radius: 4px;
  margin-top: 0rem;
  font-weight: 800;
}
#regForm.formLogin #login:hover {
  background-color: #ca8e2b;
}

.link-esqueci {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: #006096;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.link-esqueci:hover {
  color: #ca8e2b;
  text-decoration: underline;
}/*# sourceMappingURL=consulta.css.map */