@charset "UTF-8";
/*Reset Global*/
html {
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/*Variável*/
/*Theme*/
body {
  font-size: 100%;
  color: #006096;
  background-color: #fff;
  transition: all 300ms ease-out;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 900;
  color: #006096;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
a:hover {
  color: #fff;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #006096;
}

/*Cor do Scroll*/
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #016096;
}

body::-webkit-scrollbar-thumb {
  background-color: #ca8e2b;
  border-radius: 20px;
  border: 2px solid #ca8e2b;
}

/*Preloader*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: white;
}

.preloader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 115px;
  height: 25px;
  margin: 0px 0 0 -55px;
  z-index: 1500;
}

.preloader span {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: black;
  opacity: 0.5;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
  -webkit-animation: preloader 1.2s infinite ease-in-out;
          animation: preloader 1.2s infinite ease-in-out;
}

.preloader span:nth-child(1) {
  left: 0px;
}

.preloader span:nth-child(2) {
  left: 22px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.preloader span:nth-child(3) {
  left: 44px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.preloader span:nth-child(4) {
  left: 66px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.preloader span:nth-child(5) {
  left: 88px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes preloader {
  25% {
    opacity: 0.7;
    background: white;
  }
  50% {
    opacity: 1;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  }
  75% {
    opacity: 0.7;
    background: white;
  }
}

@keyframes preloader {
  25% {
    opacity: 0.7;
    background: white;
  }
  50% {
    opacity: 1;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  }
  75% {
    opacity: 0.7;
    background: white;
  }
}
/*-----Form-------*/
/*Placeholder*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #006096 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #006096 !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #006096 !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #006096 !important;
}

.bg-light {
  --bs-bg-opacity: .8;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

/*Owl Carousel*/
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  border-radius: 0px 0px 0px 900px;
  max-width: 57%;
  margin-top: 80px;
}
@media (max-width: 1500px) {
  .owl-carousel .owl-item img {
    max-width: 59%;
  }
}
@media (max-width: 1199px) {
  .owl-carousel .owl-item img {
    max-width: 56%;
  }
}
@media (max-width: 991px) {
  .owl-carousel .owl-item img {
    max-width: 45%;
  }
}
@media (max-width: 576px) {
  .owl-carousel .owl-item img {
    max-width: 100%;
  }
}

.owl-carousel .item {
  display: flex;
  justify-content: end;
  align-items: center;
}

.owl-carousel .box-legend {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  margin-top: -100px;
}
@media (max-width: 1199px) {
  .owl-carousel .box-legend {
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .owl-carousel .box-legend {
    width: 283px;
  }
}
@media (max-width: 576px) {
  .owl-carousel .box-legend {
    display: none;
  }
}
@media (max-width: 991px) {
  .owl-carousel .box-legend .title {
    font-size: 24px;
  }
}

/*Nav*/
#nav .nav-item .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #006096;
  font-weight: 700;
  margin-left: 1rem;
}
#nav .nav-item .nav-link:hover {
  color: #ca8e2b;
}
#nav .nav-item.active .nav-link {
  color: #ca8e2b;
}
#nav .navbar-consulta {
  background: #ca8e2b;
  padding: 0.4rem 0.8rem 0.5rem 0.8rem;
  border-radius: 0.25rem;
  font-weight: 700;
}
#nav .navbar-consulta:hover {
  background: #006096;
}
@media (max-width: 576px) {
  #nav .navbar-consulta {
    display: none;
  }
}

/*Como Funciona*/
#como-funciona .box {
  position: relative;
  margin-top: -13rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2.5rem 5rem 1.5rem 5rem;
  background: rgba(246, 246, 249, 0.95);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
@media (max-width: 1199px) {
  #como-funciona .box {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  #como-funciona .box {
    display: block;
  }
}
#como-funciona .box .info {
  width: 25%;
}
@media (max-width: 767px) {
  #como-funciona .box .info {
    width: 100%;
  }
}
#como-funciona .box .info img {
  margin: 0 auto;
  display: block;
  height: 45px;
}
#como-funciona .box .info p {
  text-align: center;
  line-height: 16px;
  margin-top: 0.8rem;
}
#como-funciona .box .info p b {
  font-weight: 900;
}
#como-funciona .navbar-consulta {
  background: #ca8e2b;
  padding: 0.8rem 1.6rem 0.7rem 1.6rem;
  border-radius: 0.25rem;
  z-index: 2;
  position: relative;
  margin: 0 auto;
  display: table;
  font-size: 18px;
  margin-top: -1.5rem;
  font-weight: 700;
}
#como-funciona .navbar-consulta:hover {
  background: #006096;
}

/*Perguntas Frequentes*/
#perguntas-frequentes {
  padding-top: 8rem;
}
#perguntas-frequentes .title {
  text-align: center;
}

#accordion {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 4rem;
}
#accordion .accordion-item {
  width: 50%;
  min-height: 100px;
  border: none;
}
@media (max-width: 767px) {
  #accordion .accordion-item {
    width: 100%;
  }
}
#accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #006096;
  font-weight: 900;
  text-align: center;
  background-color: transparent;
  box-shadow: none;
}
#accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  opacity: 0;
}
#accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::before {
  opacity: 0;
}
#accordion .accordion-item .accordion-header .accordion-button {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #006096;
  padding-bottom: 0;
  font-weight: 900;
  display: block;
}
#accordion .accordion-item .accordion-header .accordion-button::after {
  opacity: 0;
}
#accordion .accordion-item .accordion-header .accordion-button:focus {
  outline: 0;
  box-shadow: none;
}
#accordion .accordion-item .accordion-collapse .accordion-body {
  padding-top: 0;
}

/*Depoimentos*/
#depoimentos {
  padding-top: 6rem;
}
#depoimentos .title {
  text-align: center;
}
#depoimentos .owl-depoimentos {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 3rem;
}
#depoimentos .owl-depoimentos .owl-nav {
  margin-top: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#depoimentos .owl-depoimentos .owl-nav .owl-prev {
  font-size: 100px;
  position: absolute;
  left: -4vw;
  color: #888;
}
#depoimentos .owl-depoimentos .owl-nav .owl-prev:hover {
  background: transparent;
  color: #006096;
}
#depoimentos .owl-depoimentos .owl-nav .owl-next {
  font-size: 100px;
  position: absolute;
  right: -4vw;
  color: #888;
}
#depoimentos .owl-depoimentos .owl-nav .owl-next:hover {
  background: transparent;
  color: #006096;
}
#depoimentos .owl-depoimentos .item .box {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 767px) {
  #depoimentos .owl-depoimentos .item .box {
    display: block;
  }
}
#depoimentos .owl-depoimentos .item .box .foto-depoimento {
  max-width: 286px;
  border-radius: 100%;
}
@media (max-width: 767px) {
  #depoimentos .owl-depoimentos .item .box .foto-depoimento {
    margin: 0 auto;
  }
}
#depoimentos .owl-depoimentos .item .box .legend {
  margin-left: 3rem;
}
@media (max-width: 767px) {
  #depoimentos .owl-depoimentos .item .box .legend {
    margin-left: 0;
  }
}
#depoimentos .owl-depoimentos .item .box .legend .ico-depoimento {
  width: 60px;
  margin-bottom: 0.8rem;
  border-radius: 0;
}
@media (max-width: 767px) {
  #depoimentos .owl-depoimentos .item .box .legend .ico-depoimento {
    margin-top: 0;
  }
}
#depoimentos .owl-depoimentos .item .box .legend p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ca8e2b;
}

/*Contato*/
#contato {
  padding-top: 6rem;
  overflow: hidden;
}
#contato .title, #contato p {
  text-align: center;
}
#contato .form-contato {
  margin-top: 4rem;
  max-width: 796px;
  margin: 0 auto;
}
#contato .form-contato .form-control {
  float: left;
  padding: 0.8rem;
  box-sizing: border-box;
  margin-top: 0.8rem;
  background: #FAFAFA;
  border-radius: 4px;
  border: none;
}
#contato .form-contato .form-control:focus {
  box-shadow: 0 0 0 0.12rem rgba(0, 96, 150, 0.25);
}
#contato .form-contato .campo-w49 {
  width: 49%;
}
@media (max-width: 767px) {
  #contato .form-contato .campo-w49 {
    width: 100%;
  }
}
#contato .form-contato .campo-w100 {
  width: 100%;
}
#contato .form-contato input[type=submit] {
  color: #fff;
  background-color: #006096;
  border: none;
  padding: 0.5rem 1.5rem;
  float: right;
  margin-top: 0.8rem;
  border-radius: 5px;
}
#contato .form-contato input[type=submit]:hover {
  background-color: #ca8e2b;
}

/*Footer*/
#footer {
  background-color: #006096;
  margin-top: 8rem;
  padding: 4rem 0;
}
#footer p {
  color: #fff;
}
#footer .navbar-nav {
  flex-direction: inherit;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  #footer .navbar-nav {
    display: block;
    float: left;
    margin-left: -13px;
    margin-top: 30px;
  }
}
#footer .navbar-nav .nav-link {
  color: #fff;
  margin-left: 0.8rem;
  margin-top: -0.6rem;
}
#footer .navbar-nav .nav-link:hover {
  color: #ca8e2b;
}
#footer .box-redes {
  float: right;
}
@media (max-width: 767px) {
  #footer .box-redes {
    margin-top: 135px;
  }
}
#footer .box-redes a {
  margin-left: 0.8rem;
}

/*Responsive*/
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1080px;
  }
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1080px;
  }
}/*# sourceMappingURL=theme.css.map */